<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/viewStore.css">
</head>
<body>
    <h1>List products</h1>
    <div class="menuButton"><a href="../index.html"><button>Home</button></a></div>
    <div id="products" class="products"></div>
    <div id="message" style="color: green; font-weight: bold;"></div> 
    
</body>
    <script src="../js/api.js"></script>
</html>